<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/style.css' />
    <script defer src="bundle.js"></script>
</head>

<body>
    <div class="background"></div>

    {{{body}}}

    {{> footer}}
</body>

</html>
