footer {
    width: 100%;
    height: auto;
    background-color: #070617;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    .col {
        width: 190px;
        height: auto;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 0px 20px 20px 20px;

        h1 {
            margin: 0;
            padding: 0;
            font-family: inherit;
            font-size: 12px;
            line-height: 17px;
            padding: 20px 0px 5px 0px;
            color: rgba(255, 255, 255, 0.2);
            font-weight: normal;
            text-transform: uppercase;
            letter-spacing: 0.25em;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                color: #999999;
                font-size: 14px;
                font-family: inherit;
                font-weight: bold;
                padding: 5px 0px 5px 0px;
                cursor: pointer;
                transition: 0.2s;
                -webkit-transition: 0.2s;
                -moz-transition: 0.2s;

                &:hover {
                    color: #ffffff;
                    transition: 0.1s;
                    -webkit-transition: 0.1s;
                    -moz-transition: 0.1s;
                }
            }
        }
    }

    .social ul li {
        display: inline-block;
        padding-right: 5px !important;
    }
}

.clearfix {
    clear: both;
}

@media only screen and (min-width: 1280px) {
    .contain {
        width: 1200px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1139px) {
    .contain .social {
        width: 1000px;
        display: block;
    }

    .social h1 {
        margin: 0px;
    }
}

@media only screen and (max-width: 950px) {
    footer .col {
        width: 33%;
    }

    footer .col h1 {
        font-size: 14px;
    }

    footer .col ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 500px) {
    footer .col {
        width: 50%;
    }

    footer .col h1 {
        font-size: 14px;
    }

    footer .col ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 340px) {
    footer .col {
        width: 100%;
    }
}
