@use "../abstracts/sprite";

.background {
    @include sprite.sprite(sprite.$background);
    background-size: 100% auto;
    position: fixed;
    width: 100%;
    height: 300%;
    top: 0;
    left: 0;
    z-index: -1;
}
