@use "variables";

@font-face {
    font-family: LexendExa;
    src: url("#{variables.$font-dir}/LexendExa-Regular.ttf") format("truetype"),
        url("#{variables.$font-dir}/LexendExa-Regular.woff2") format("woff2");
}

* {
    font-family: LexendExa;
}
