$base-font-size: 16px !default;

@function px($input) {
    @return to-unit(px, $input);
}
@function pt($input) {
    @return to-unit(pt, $input);
}
@function pc($input) {
    @return to-unit(pc, $input);
}
@function in($input) {
    @return to-unit(in, $input);
}
@function mm($input) {
    @return to-unit(mm, $input);
}
@function cm($input) {
    @return to-unit(cm, $input);
}

@function deg($input) {
    @return to-unit(deg, $input);
}
@function rad($input) {
    @return to-unit(rad, $input);
}
@function grad($input) {
    @return to-unit(grad, $input);
}
@function turn($input) {
    @return to-unit(turn, $input);
}

@function dpi($input) {
    @return to-unit(dpi, $input);
}
@function dpcm($input) {
    @return to-unit(dpcm, $input);
}
@function dppx($input) {
    @return to-unit(dppx, $input);
}

@function ms($input) {
    @return to-unit(ms, $input);
}
@function s($input) {
    @return to-unit(s, $input);
}

@function hz($input) {
    @return to-unit(hz, $input);
}
@function khz($input) {
    @return to-unit(khz, $input);
}

@function em($input...) {
    $em: to-unit(em, nth($input, 1));

    @if length($input) > 1 {
        @for $i from 2 through length($input) {
            $em: $em / num(em(nth($input, $i)));
        }
    }
    @return $em;
}
@function rem($input) {
    @return to-unit(rem, num(em($input)));
}

@function ex($input) {
    @return to-unit(ex, $input);
}
@function ch($input) {
    @return to-unit(ch, $input);
}

@function vw($input) {
    @return to-unit(vw, $input);
}
@function vh($input) {
    @return to-unit(vh, $input);
}
@function vmin($input) {
    @return to-unit(vmin, $input);
}
@function vmax($input) {
    @return to-unit(vmax, $input);
}

@function str($input) {
    @return #{$input};
}
@function num($input) {
    @if type-of($input) != number {
        @error 'Could not convert `#{$input}` - must be `type-of number`';
        @return null;
    }
    @return $input/($input * 0+1);
}
@function int($input) {
    $num: num($input);
    @return if($num<0, ceil($num), floor($num));
}
@function uint($input) {
    @return abs(int($input));
}

@function string($input) {
    @return str($input);
}
@function number($input) {
    @return num($input);
}

@function to-unit($unit, $input) {
    $to-unit: map-get(
        (
            px: 0px,
            pt: 0pt,
            pc: 0pc,
            in: 0in,
            mm: 0mm,
            cm: 0cm,
            em: 0em,
            rem: 0rem,
            ch: 0ch,
            ex: 0ex,
            vw: 0vw,
            vh: 0vh,
            vmin: 0vmin,
            vmax: 0vmax,
            deg: 0deg,
            turn: 0turn,
            grad: 0grad,
            rad: 0rad,
            s: 0s,
            ms: 0ms,
            hz: 0hz,
            khz: 0khz,
            dpi: 0dpi,
            dpcm: 0dpcm,
            dppx: 0dppx,
            pct: 0%,
            percent: 0%,
            num: 0,
            number: 0,
        ),
        $unit
    );

    @if not $to-unit {
        @error 'Could not convert to `#{$unit}` – must be a valid CSS unit';
        @return null;
    }

    @if index(num number ex ch vw vh vmin vmax, $unit) {
        $value: num($input);
    }

    @if index(em rem, unit($input)) {
        $input: 0px + num($input) * $base-font-size/1px;
    }
    @if index(em rem, $unit) and not unitless($input) {
        $input: 0px + $input;
        $input: num($input) * 1px / $base-font-size;
    }
}
