@use 'variables';

@mixin small-screen {
    @media screen and (min-width: variables.$small-screen-min-width) and (max-width: variables.$small-screen-max-width) {
        @content;
    }
}

@mixin medium-screen {
    @media screen and (min-width: variables.$medium-screen-min-width) and (max-width: variables.$medium-screen-max-width) {
        @content;
    }
}

@mixin large-screen {
    @media screen and (min-width: variables.$large-screen-min-width) and (max-width: variables.$large-screen-max-width) {
        @content;
    }
}

@mixin x-large-screen {
    @media screen and (min-width: variables.$x-large-screen-min-width) {
        @content;
    }
}
