// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$background-name: 'background';
$background-x: 0px;
$background-y: 0px;
$background-offset-x: 0px;
$background-offset-y: 0px;
$background-width: 4999px;
$background-height: 2500px;
$background-total-width: 4999px;
$background-total-height: 2740px;
$background-image: 'images/sprite.png';
$background: (0px, 0px, 0px, 0px, 4999px, 2500px, 4999px, 2740px, 'images/sprite.png', 'background', );
$logo-horizontal-name: 'logo-horizontal';
$logo-horizontal-x: 331px;
$logo-horizontal-y: 2500px;
$logo-horizontal-offset-x: -331px;
$logo-horizontal-offset-y: -2500px;
$logo-horizontal-width: 331px;
$logo-horizontal-height: 140px;
$logo-horizontal-total-width: 4999px;
$logo-horizontal-total-height: 2740px;
$logo-horizontal-image: 'images/sprite.png';
$logo-horizontal: (331px, 2500px, -331px, -2500px, 331px, 140px, 4999px, 2740px, 'images/sprite.png', 'logo-horizontal', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 2500px;
$logo-offset-x: 0px;
$logo-offset-y: -2500px;
$logo-width: 331px;
$logo-height: 240px;
$logo-total-width: 4999px;
$logo-total-height: 2740px;
$logo-image: 'images/sprite.png';
$logo: (0px, 2500px, 0px, -2500px, 331px, 240px, 4999px, 2740px, 'images/sprite.png', 'logo', );
$spritesheet-width: 4999px;
$spritesheet-height: 2740px;
$spritesheet-image: 'images/sprite.png';
$spritesheet-sprites: ($background, $logo-horizontal, $logo, );
$spritesheet: (4999px, 2740px, 'images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
