$img-dir: "/images";
$font-dir: "../fonts";

$small-screen-min-width: 320px;
$small-screen-max-width: 719px;
$medium-screen-min-width: 720px;
$medium-screen-max-width: 1079px;
$large-screen-min-width: 1080px;
$large-screen-max-width: 2559px;
$x-large-screen-min-width: 2560px;
